body{
    background-color: darkorange;
}
h1{

    font-family: 'Teko', sans-serif;
    color: white;
    text-align: center;
    font-size: 36px;
}
h2{
    font-family: 'Teko', sans-serif;
    color: white;
    text-align: center;
    font-size: 36px;
}

.par{
    text-align: center;
    font-size: 36px;
    color: white;
    font-family: 'Teko', sans-serif;
}

.container{
    justify-content: center;
    display: flex;
}
button{
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
    outline: none;
    font-family: 'Teko', sans-serif;
    color: black;
    align-items: center;
    justify-content: center;
}

#lap-status {
    text-align: center;
    font-size: 36px;
    color: white;
    font-family: 'Teko', sans-serif;
}